.nextgen-container {
  position: relative;
  /* background: linear-gradient(135deg, #ff6b6b, #7a0000); */
}

.stickyContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  padding: 0 0;
}

/* LEFT */
/* .left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.right {
  width: 75%;
  position: relative;
} */

/* SCENE */
.scene {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  gap: 20px;
}

.scene.active {
  /* pointer-events: auto; */
}

.nav-items {
  opacity: 0.3;
}
.nav-items.active {
  opacity: 1;
  font-weight: 600;
}

/* TEXT */
/* h2 {
  font-size: clamp(4rem, 7vw, 7rem);
  font-weight: 900;
  margin: 0;
  line-height: 1.1;
}

.word {
  display: inline-block;
  margin-right: 12px;
  opacity: 0;
  transform: translateY(100px);
} */